<div class="friend-view">
    <div class="friend-img">
        <img [src]="friendImage" alt="">
    </div>
    <div>
        <p>
            {{friendName}}
        </p>
    </div>
    <div class="friends-num">
        <p>
            Has {{friendsNum}} friends.
        </p>
    </div>
    <div class="btn-group" role="group" aria-label="actions">
        <button type="button" class="btn btn-primary" (click)="addFriend()">Add Friend</button>
        <button type="button" class="btn btn-primary" (click)="remove()">Remove</button>
    </div>
</div>

